.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
test/*
testthat/*/*/*/*/*/*html
testthat/*/*/*/*/*/*csv
inst/*/*/*/*/*/*html
inst/*/*/*/*/*/*csv
inst/doc
docs
/doc/
/Meta/
.DS*
inst/rmarkdown/templates/rnaseq/skeleton/DE/Multiplicative_DGE_Analysis.Rmd
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/templates/chipseq/QC/QC.html
*.html
